body {
  text-align: center;
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}
.button-regular {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  background-color: rgb(112, 219, 223);
  color: #444;
  border-radius: 12px;
  border: 2px solid #424242;
  cursor: pointer;
}
.button-start {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  background-color: rgb(112, 219, 223);
  color: #444;
  border-radius: 12px;
  border: 2px solid #424242;
  cursor: pointer;
}
.buttons > .button-regular {
  display: inline-block;
}
.buttons.buttons-start > .button-regular {
  display: none;
}
.buttons > .button-start {
  display: none;
}
.buttons.buttons-start > .button-start {
  display: inline-block;
}

#cardPicture {
  height: 220px;
  width: 610px;
}

.card {
  cursor: pointer;
}
.cardRect {
  fill: #dddddd;
  stroke: black;
}
.cardWorth {
  font-family: Verdana;
  font-size: 50px;
  text-anchor: middle;
}
.cardSuit {
  font-size: 15px;
}

.color-card-black {
  fill: black;
}
.color-card-red {
  fill: red;
}

.shortImage {
  fill: #dddddd;
  stroke: red;
  stroke-width: 1;
}

.redSuit {
  fill: red;
  font-size: 23px;
  text-anchor: middle;
}
.blackSuit {
  fill: black;
  font-size: 23px;
  text-anchor: middle;
}

.finalText {
  font-family: Verdana;
  font-size: 30px;
  fill: blue;
}
.finalPoints {
  font-family: Verdana;
  font-size: 20px;
}
