.buttons > .button-regular {
  display: inline-block;
}
.buttons.buttons-start > .button-regular {
  display: none;
}
.buttons > .button-start {
  display: none; 
}
.buttons.buttons-start > .button-start {
  display: block;
}
#cardPicture {
  height: 80px;
  width: 240px;
}
.cardRect {
  fill: #dddddd;
}
.cardWorthBlack {
  font-family: Verdana;
  font-size: 50px;
  text-anchor: middle;
  fill: black;
}
.cardWorthRed {
  font-family: Verdana;
  font-size: 50px;
  text-anchor: middle;
  fill: red;
}
.cardSuitBlack {
  font-family: Verdana;
  font-size: 15px;
  fill: black;
}
.cardSuitRed {
  font-family: Verdana;
  font-size: 15px;
  fill: red;
}
